@charset "ISO-8859-1";

*{margin:0;
padding:0;

background-size:cover;
}
.a1{
	height:600px;
width:100%;
	background-image:url(f4.jpg) ;
	background-size:cover;
}
.a5 {
color:blue;
text-decoration:none;

}
a2
{
	float:left;
	margin:250px;
}
.head1{	border-radius:2px;
	
	background-color:#132d91;
	height:100px;
	
	
	margin:9px;
	padding:5px;
	
}

.subhead{
	float:right;
	background-color:#132d91;
	
}


.for-color{
		background-color:#cdd0fc;
margin:0px;
height:120px;
padding:5px;
clear:both;clear:both;
}

.color1{
	float:right;
	margin:10px;
	margin-top:20px;
	margin-left:10px;
	text-decoration:none;
	background-color:#132d91;
	color:white;
}




 .c{
	
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	background-color:transperent;
	border:none;
	outline:none;
	border-bottom:1px solid black;
}